@use "../../vars.module.scss";

$border-color: 1px solid vars.$light-blue;

.projects {
  &__titles {
    position: sticky;
    top: vars.$nav-size;
    width: 100%;
    display: flex;
    gap: 2vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: vars.$nav-size * 2;
    background: vars.$background-gradient-alt;
    border-top: $border-color;
    border-bottom: $border-color;

    &__title {
      @include vars.link;
    }
  }
}
