@use "../../vars.module.scss";

.link-button {
  color: vars.$background;
  font-size: vars.$fsm;
  transition: 0.1s linear background;
  padding: vars.$xs vars.$sm;
  background-color: vars.$green-3;
  text-decoration: none;
  border-radius: vars.$xs;
  display: flex;
  align-items: center;
  gap: vars.$xs;
  height: vars.$md;
  align-self: flex-start;

  box-shadow: 0px 2px 5px 1px vars.$background-shadow;

  &:hover {
    cursor: pointer;
    background-color: darken(vars.$green-3, 10%);
  }

  .image {
    height: 90%;
  }
}
