@use "../../vars.module.scss";

.learn-more-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;

  .navbar {
    display: flex;
    width: 100%;
    padding: vars.$nav-padding;
    box-sizing: border-box;
    position: sticky;
    top: 0;
  }

  .footer {
    margin-top: auto;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .content {
    @include vars.fade;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: vars.$content-max-width;
    height: 100%;
    gap: vars.$lg;
    text-align: center;
    padding: 0 vars.$lg;
    margin-bottom: vars.$lg;
    box-sizing: border-box;

    h1,
    h2,
    p {
      margin: 0;
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: vars.$xs;

      .title {
        font-size: vars.$fxxxl;

        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fxxl;
        }
      }

      .subtitle {
        font-size: vars.$fxl;
        color: vars.$text-2;
        font-weight: normal;

        @media (max-width: vars.$trigger-size) {
          font-size: vars.$flg;
        }
      }

      .desc {
        font-size: vars.$fmd;
        color: vars.$text-2;
        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fsm;
        }
      }
    }

    .links {
      display: flex;
      flex-wrap: wrap;
      gap: vars.$xs;
    }

    .media-container {
      width: 100%;
      aspect-ratio: 1.77;
    }

    .text {
      white-space: pre-wrap;
    }

    .more-images {
      display: grid;
      grid-template-columns: repeat(auto-fill, 45%);
      gap: vars.$lg;
    }
  }
}
