@use "../../vars.module.scss";

.anchor#about {
  top: -1 * vars.$total-nav-size;
}

.about {
  height: calc(100dvh - vars.$total-nav-size);
  width: 100%;

  padding: vars.$sm;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: vars.$background-gradient-2;

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: vars.$sm;
    gap: vars.$md;
    max-width: vars.$content-max-width;
    font-size: vars.$flg;
    color: vars.$text;

    @media (max-width: vars.$trigger-size) {
      font-size: vars.$fsm;
      gap: vars.$md;
    }
  }

  p {
    margin: 0;
  }
}
