@use "../../vars.module.scss";

.image-links {
  display: flex;
  gap: vars.$md;

  .link {
    display: flex;
    align-items: flex-end;
    transition: 0.2s ease-out filter;

    > img {
      width: vars.$lg;
      @media (max-width: vars.$trigger-size) {
        width: vars.$md;
      }
    }

    &:hover {
      cursor: pointer;
      filter: brightness(30%);
    }
  }
}
