@import "../../vars.scss";

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  height: 100%;

  &__titles {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1vw;
  }

  &__display {
    width: 100%;
    overflow: scroll;
  }
}

.project {
  &__title {
    background-color: $yellow;
    color: $red;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
  }

  &__content {
    height: 50vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $cream;
    color: $red;
    gap: 10px;
    overflow: scroll;

    &__text {
      margin: 2% 10%;
    }

    &__image {
      align-self: center;
      height: 80%;
      border-radius: 5px;
      margin-bottom: 20px;
    }
  }
}
