@import "../../vars.scss";

.projects {
  &__titles {
    position: sticky;
    top: 3rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 1vw;
    height: $nav-size * 2;
    background: $background-gradient;

    &__title {
      @include link;
    }
  }
}
