@use "./vars.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Metrophobic&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: vars.$background-gradient;
  font-family: "Poppins", sans-serif;
  color: vars.$text;
  font-size: vars.$fmd;

  @media (max-width: vars.$trigger-size) {
    font-size: vars.$fsm;
  }
}

h2,
h3,
h4 {
  margin: 0;
}

.enter {
  @include vars.fade;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .front {
    height: calc(100dvh - vars.$total-nav-size);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 vars.$md;

    @media (max-width: vars.$trigger-size) {
      margin: 0 vars.$sm;
    }

    > .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .name {
        font-size: vars.$fxxxl;
        font-weight: bold;
        animation: enter 0.5s;

        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fxxl;
        }
      }

      .subname {
        font-size: vars.$fxxl;
        animation: enter 2s;
        color: vars.$text-2;

        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fxl;
        }
      }
    }

    .tagline {
      font-size: vars.$fxxxl + 8px;
      font-weight: bold;
      text-align: center;
      animation: enter 3s;

      @media (max-width: vars.$trigger-size) {
        font-size: vars.$fxxl + 4px;
      }

      .line {
        margin: 0;
        display: inline-block;
      }
    }

    .tech {
      text-align: center;

      font-size: vars.$fxl;
      animation: enter 4s;
      color: vars.$text-2;

      @media (max-width: vars.$trigger-size) {
        font-size: vars.$flg;
      }
    }
  }
}

.content {
  width: 100%;
}

.nav {
  width: 100%;
  position: sticky;
  top: 0;
  background: vars.$green-1-gradient;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: vars.$xxs;
  z-index: 2;

  padding: vars.$nav-padding 0;
  min-height: vars.$nav-size;

  font-size: vars.$flg;
  font-weight: bold;

  @media (max-width: vars.$trigger-size) {
    font-size: vars.$fsm;
  }

  .nav-item {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease-out color;
    cursor: pointer;

    &:hover,
    &.selected {
      color: vars.$highlight;
    }

    display: flex;
    align-items: center;
  }
}
