@use "./vars.module.scss";

$vid-mult: 1.77;
$vid-width-large: 90vw;
$vid-height-large: calc($vid-width-large / $vid-mult);
$vid-width-small: 42vw;
$vid-height-small: calc($vid-width-small / $vid-mult);
$max-height: 25rem;

@mixin media-size {
  @media (max-width: vars.$trigger-size) {
    max-width: $vid-width-large;
    max-height: unset;
  }
  max-width: $vid-width-small;
  max-height: $max-height;
}

.band {
  width: 100vw;
  padding: 1.5rem 0;

  margin: vars.$band-margin 0;
  box-shadow: vars.$shadow;
  display: flex;
  justify-content: center;

  &__content {
    display: grid;
    @media (max-width: vars.$trigger-size) {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 2rem 0;
    }
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-end;
    height: 100%;
    max-width: 1500px;

    &--text {
      grid-template-columns: 1fr;
      padding: 0;
    }

    &__text {
      margin: 2.5vh;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        &__tag {
          font-size: 0.9rem;
          padding: 0.2rem 0.5rem;
          border-radius: 5px;
          color: black;
        }
      }

      &__title {
        font-size: 1.2rem;
      }

      &__subtitle {
        font-size: 0.75rem;
      }

      &__links {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        &__link {
          &:hover {
            cursor: pointer;
            background-color: vars.$light-blue;
          }

          color: black;
          font-size: 0.8rem;
          transition: 0.2s linear background;
          padding: 0.6rem 0.9rem;
          background-color: vars.$air-superiority-blue;
          text-decoration: none;
          border-radius: 10px;
          box-shadow: 0px 2px 3px black;
          display: flex;
          align-items: center;
          gap: 0.2rem;

          &__image {
            height: 2rem;
            margin: -1rem 0;
            margin-left: -0.5rem;
            filter: invert(1);
          }
        }
      }
      &--left {
        align-items: flex-end;
        text-align: end;
      }
    }

    &__image {
      @include media-size;
      border-radius: 15px;
      box-shadow: vars.$shadow;

      &--circle {
        border-radius: 50%;
      }
    }

    &__video {
      border: none;
      border-radius: 15px;
      box-shadow: vars.$shadow;

      &--url {
        @media (max-width: vars.$trigger-size) {
          height: $vid-height-large;
          width: $vid-width-large;
        }
        height: $vid-height-small;
        width: $vid-width-small;
        max-height: $max-height;
        max-width: $max-height * 1.77;
      }

      &--file {
        @include media-size;
      }
    }
  }
}
