$prussian-blue: #012a4a;
$indigo-dye: #013a63;
$indigo-dye-2: #01497c;
$indigo-dye-3: #014f86;
$ucla-blue: #2a6f97;
$cerulean: #2c7da0;
$air-force-blue: #468faf;
$air-superiority-blue: #61a5c2;
$sky-blue: #89c2d9;
$light-blue: #a9d6e5;
$yellow: #ffff4d;

$background-gradient: linear-gradient(
  to right,
  $indigo-dye-2,
  darken($indigo-dye-2, 3%)
);

$nav-size: 3rem;

@mixin link {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease-out color;
  cursor: pointer;

  &:hover,
  &--selected {
    color: $yellow;
  }
}
