$xxs: 4px;
$xs: 8px;
$sm: 16px;
$md: 24px;
$lg: 32px;
$xl: 48px;
$xxl: 64px;

$fxs: 10px;
$fsm: 14px;
$fmd: 16px;
$flg: 18px;
$fxl: 28px;
$fxxl: 32px;
$fxxxl: 48px;

$background: #dce1de;
$background-2: lighten($background, 5%);
$background-shadow: darken($background, 30%);
$text: #1f2421;
$text-2: lighten($text, 15%);
$green-1: #9cc5a1;
$green-2: #49a078;
$green-3: #216869;
$highlight: #823133;

$background-gradient: linear-gradient(
  to right,
  $background,
  darken($background, 10%)
);

$background-gradient-2: linear-gradient(
  to right,
  $background-2,
  darken($background-2, 10%)
);

$green-1-gradient: linear-gradient(135deg, $green-1, darken($green-1, 5%));

$green-2-gradient: linear-gradient(135deg, $green-2, darken($green-2, 10%));

$shadow: 0px 2px 5px $background-shadow;
$green-shadow: 0px 2px 5px darken($green-1, 30%);

$trigger-size: 650px;

$nav-color: $green-1;
$nav-padding: $sm;
$nav-size: $md;

$total-nav-size: $nav-size + $nav-padding * 2;

$content-max-width: 1000px;

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade {
  animation: fade 0.5s linear;
}

:export {
  yellow: $highlight;
  background: $background;
  text: $text;
  green-1: $green-1;
  green-2: $green-2;
  green-3: $green-3;
}
