@use "../vars.module.scss";

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: vars.$lg;
    width: 100%;
    padding-bottom: vars.$xxl;
    background: vars.$background-gradient;

    &.alt-background {
      background: vars.$background-gradient-2;
    }

    .bands {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: vars.$xxl;
      width: 100%;
      max-width: vars.$content-max-width;
      padding: 0 vars.$lg;
      box-sizing: border-box;

      @media (max-width: vars.$trigger-size) {
        gap: vars.$xxl;
        box-sizing: border-box;
      }
    }

    .see-more {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: vars.$lg;

      border-radius: vars.$sm;
      padding: vars.$md;

      .images {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr;

        @media (max-width: vars.$trigger-size) {
          grid-template-columns: 1fr;
        }

        gap: vars.$sm;
        width: 100%;
        background: vars.$background-gradient-3;
        padding: vars.$md;
        border-radius: vars.$sm;
        box-shadow: vars.$shadow;

        img {
          width: 100%;
          aspect-ratio: 1.33;
          object-fit: cover;
          // border-radius: vars.$sm;
        }

        .slick-next:before,
        .slick-prev:before {
          height: 10px;
          color: vars.$green-3;
        }
      }

      a {
        align-self: auto;
      }
    }

    .cat-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: vars.$md;
      text-align: center;

      @media (max-width: vars.$trigger-size) {
        margin-bottom: 0;
      }

      .title {
        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fxl;
          margin: vars.$xl 0 0 0;
        }
        font-size: vars.$fxxxl;
        margin: vars.$xxl 0 0 0;
      }

      .description {
        margin: 0 vars.$sm;
        font-size: vars.$flg;
        color: vars.$text-2;
        @media (max-width: vars.$trigger-size) {
          font-size: vars.$fmd;
        }
      }
    }
  }
}
